<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" media="all" href="blanks.css">

<script>

</script>
<body>

<table cellspacing="0" cellpadding="0" width="100" align="center" style="border:0px solid #ececec;">
    <tr>
        <td>
    <tr>
        <td>

            <table width="100%" border="0">
                <tr>
                    <td width="100%" align="right">
                        <div id="prilozenie1" class="col" edtype="text" style="width:986px;font-size:7pt;">Приложение №1
                        </div>
                        <div id="prilozenie2" class="col" edtype="text" style="width:986px;font-size:7pt;">к
                            постановлению Правительства Российской Федерации
                        </div>
                        <div id="prilozenie3" class="col" edtype="text" style="width:986px;font-size:7pt;">от 26 декабря
                            2011 г. № 1137
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="text-align:center;width:796px;font-size:10pt;font-weight:bold;">&nbsp;
                        </div>
                    </td>
                </tr>
            </table>


            <div id="schetcom_number_date" class="col" edtype="text"
                 style="width:980px;font-weight:bold;font-size:14pt;padding-left:5px;">СЧЕТ-ФАКТУРА № 0 от 07.11.2019
            </div>
            <div id="schetcom_change_date" class="col" edtype="text"
                 style="width:980px;font-weight:bold;font-size:14pt;padding-left:5px;">Исправление № -- от --
            </div>
            <table width="100%">
                <tr>
                    <td>
                        <div id="prodavec" class="col" edtype="text"
                             style="width:980px;font-size:8pt;padding-left:2px;">Продавец: НАИМЕНОВАНИЕ ПРОДАВЦА
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="address_prod" class="col" edtype="text"
                             style="width:980px;font-size:8pt;padding-left:2px;">Адрес: АДРЕС ПРОДАВЦА
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="innkpp_prod" class="col" edtype="text"
                             style="width:980px;font-size:8pt;padding-left:2px;">ИНН/КПП продавца: 000000000/
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="gruzootpr" class="col" edtype="text"
                             style="width:980px;font-size:8pt;padding-left:2px;">Грузоотправитель и его адрес:
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="gruzopol" class="col" edtype="text"
                             style="width:980px;font-size:8pt;padding-left:2px;">Грузополучатель и его адрес:
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="platezka" class="col" edtype="text"
                             style="width:980px;font-size:8pt;padding-left:2px;">К платежно-расчетному документу № от .
                            .
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="pokupatel" class="col" edtype="text"
                             style="width:980px;font-size:8pt;padding-left:2px;">Покупатель:НАИМЕНОВАНИЕ ПОКУПАТЕЛЯ
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="address_pokup" class="col" edtype="text"
                             style="width:980px;font-size:8pt;padding-left:2px;">Адрес: АДРЕС ПОКУПАТЕЛЯ
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="innkpp_pokup" class="col" edtype="text"
                             style="width:980px;font-size:8pt;padding-left:2px;">ИНН/КПП покупателя: 00000000/
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="valuta" class="col" edtype="textarea" style="width:100%;font-size:8pt;">Валюта:
                            наименование, код Российский рубль, 643
                        </div>
                    </td>
                </tr>
            </table>


            <table id="items" class="invoice_com_items" border="0" width="100%" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th style="width:160px;" rowspan="2">
                        <div id="name_txt" class="col" edtype="textarea" style="width:160px;">Наименование товара
                            (описание выполненных работ, оказанных услуг), имущественного права
                        </div>
                    </th>
                    <th style="width:126px;" colspan="2">
                        <div id="ed_txt" class="col" edtype="textarea" style="width:126px;">Единица измерения
                        </div>
                    </th>
                    <th style="width:60px;" rowspan="2">
                        <div id="kol_txt" class="col" edtype="textarea" style="width:60px;">Количество
                        </div>
                    </th>
                    <th style="width:68px;" rowspan="2">
                        <div id="item_price_txt" class="col" edtype="textarea" style="width:65px;">Цена (тариф) за
                            единицу измерения
                        </div>
                    </th>
                    <th style="width:85px;" rowspan="2">
                        <div id="price_txt" class="col" edtype="textarea" style="width:85px;">Стоимость товаров (работ,
                            услуг), имущественных прав без налога - всего
                        </div>
                    </th>
                    <th style="width:50px;" rowspan="2">
                        <div id="akciz_txt" class="col" edtype="textarea" style="width:50px;">В том числе акциз
                        </div>
                    </th>
                    <th style="width:60px;" rowspan="2">
                        <div id="nds_txt" class="col" edtype="textarea" style="width:60px;">Налоговая ставка
                        </div>
                    </th>
                    <th style="width:85px;" rowspan="2">
                        <div id="nds_summ_txt" class="col" edtype="textarea" style="width:81px;">Сумма налога,
                            предъявляемая покупателю
                        </div>
                    </th>
                    <th style="width:85px;" rowspan="2">
                        <div id="total_summ_txt" class="col" edtype="textarea" style="width:85px;">Стоимость товаров
                            (работ, услуг), имущественных прав с налогом - всего
                        </div>
                    </th>
                    <th style="width:150px;" colspan="2">
                        <div id="country_txt" class="col" edtype="textarea" style="width:152px;">Страна происхождения
                            товара
                        </div>
                    </th>
                    <th style="width:166px;" rowspan="2">
                        <div id="gtd_txt" class="col" edtype="textarea" style="width:166px;">Номер таможенной декларации
                        </div>
                    </th>
                </tr>
                <tr>
                    <th id="ed_txt_1" class="col" edtype="textarea" style="width:45px;">код</th>
                    <th id="ed_txt_2" class="col" edtype="textarea" style="width:80px;">условное обозначение
                        (национальное)
                    </th>
                    <th id="country_txt_1" class="col" edtype="textarea" style="width:50px;">цифровой код</th>
                    <th id="country_txt_2" class="col" edtype="textarea" style="width:100px;">краткое наименование</th>
                </tr>
                </thead>


                <thead>
                <tr id="header">
                    <th style="width:160px;">
                        <div id="name_id" class="col" edtype="text" style="width:160px;">1</div>
                    </th>
                    <th style="width:45px;">
                        <div id="ed_id" class="col" edtype="text" style="width:45px;">2</div>
                    </th>
                    <th style="width:45px;">
                        <div id="ed_id2" class="col" edtype="text" style="width:80px;">2а</div>
                    </th>
                    <th style="width:60px;">
                        <div id="kol_id" class="col" edtype="text" style="width:60px;">3</div>
                    </th>
                    <th style="width:68px;">
                        <div id="item_price_id" class="col" edtype="text" style="width:65px;">4</div>
                    </th>
                    <th style="width:85px;">
                        <div id="price_id" class="col" edtype="text" style="width:85px;">5</div>
                    </th>
                    <th style="width:50px;">
                        <div id="akciz_id" class="col" edtype="text" style="width:50px;">6</div>
                    </th>
                    <th style="width:60px;">
                        <div id="nds_id" class="col" edtype="text" style="width:60px;">7</div>
                    </th>
                    <th style="width:71px;">
                        <div id="nds_summ_id" class="col" edtype="text" style="width:67px;">8</div>
                    </th>
                    <th style="width:80px;">
                        <div id="total_summ_id" class="col" edtype="text" style="width:80px;">9</div>
                    </th>
                    <th style="width:50px;">
                        <div id="country_id" class="col" edtype="text" style="width:50px;">10</div>
                    </th>
                    <th style="width:100px;">
                        <div id="country_id2" class="col" edtype="text" style="width:100px;">10а</div>
                    </th>
                    <th style="width:166px;">
                        <div id="gtd_id" class="col" edtype="text" style="width:166px;">11</div>
                    </th>
                </tr>
                </thead>
                <tr id="last_item">
                    <td colspan="14" style="border-bottom:1px solid;border-collapse: collapse; ">
                        <div id="gtd1_id" edtype="text" style="width:166px;">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td valign="center" colspan="5">
                        <div id="items_summ_txt" class="col" edtype="text"
                             style="font-weight:bold;font-size:10pt;width:300px;">Всего к оплате:
                        </div>
                    </td>
                    <td>
                    </td>
                    <td colspan="2" style="text-align: center;">
                        X
                    </td>
                    <td>
                    </td>
                    <td id="invoice_total_summ" style="font-weight:bold;font-size:10pt;text-align:right;">
                    </td>
                    <td colspan="3" style="border:0px;"></td>
                </tr>
            </table>

            <div id="post_div" style="display:none;">

            </div>

            <input name="nds" type="checkbox" value="1">С НДС <select name="nds_type">
            <option value="18">18%</option>
            <option value="10">10%</option>
        </select>
            <br/><br/>
            <table width="100%">
                <tr>
                    <td valign="top" width="500">
                        <div id="owner" class="col" edtype="text" style="font-size:8pt;">Руководитель организации &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;______________________
                            (Фамилия И.О.)
                        </div>
                        <div id="owner_mile" class="col" edtype="text" style="font-size:7pt;text-align:center;">подпись
                        </div>
                        <br/>
                        <div id="ip" class="col" edtype="text" style="font-size:8pt;">Индивидуальный предприниматель
                            &nbsp;&nbsp;&nbsp;&nbsp;______________________ (Фамилия И.О.)
                        </div>
                        <div id="ip_mile" class="col" edtype="text" style="font-size:7pt;text-align:center;">подпись
                        </div>
                    </td>
                    <td valign="top" width="500">
                        <div id="buhgalter" class="col" edtype="text" style="font-size:8pt;">Главный бухгалтер &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;______________________
                            (Фамилия И.О.)
                        </div>
                        <div id="buhgalter_mile" class="col" edtype="text" style="font-size:7pt;text-align:center;">
                            подпись
                        </div>
                        <br/>
                        <div id="ogrn" class="col" edtype="text">
                            ________________________________________________________
                        </div>
                        <div id="ogrn_mile" class="col" edtype="textarea"
                             style="font-size:7pt;width:402px;text-align:center;">(реквизиты свидетельства о
                            государственной регистрации индивидуального предпринимателя)
                        </div>
                        <br/>
                        <br/>
                    </td>
                </tr>
            </table>
            <div id="prim" class="col" edtype="textarea" style="font-size:7pt;">ПРИМЕЧАНИЕ. Первый экземпляр -
                покупателю, второй экземпляр - продавцу
            </div>
        </td>
    </tr>
</table>
</body>
</html>

